<!DOCTYPE html>
<html>

<head>
    <title>Item menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="itemmenu.css">
</head>

<body>
    <header>
        <div>
            <button class="headerbtn" id="btn-clienteui">Cliente</button>
            <button class="headerbtn" id="btn-vendedorui">Vendedor</button>
            <button class="headerbtn1" id="btn-itemmenuui">ItemMenu</button>
            <button class="headerbtn" id="btn-pedidosui">Pedidos</button>
        </div>
    </header>
    <div id="div-root">
        <div id="upperpan">
            <div id="upperpan1">
                <div class="div_upperpan_search">
                    <label>ID Item menu</label>
                    <input id="input-buscar-id">
                </div>
                <div class="div_upperpan_search">
                    <label>Nombre</label>
                    <input id="input-buscar-nombre">
                </div>
            </div>
            <div id="upperpan2">
                <button id="btn-buscar">Buscar</button>
            </div>
        </div>

        <div id="div-center">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Peso</th>
                            <th>Apto Vegano</th>
                            <th>Apto Celiaco</th>
                            <th>Calorias</th>
                            <th>Graduacion alcoholica</th>
                            <th>Tamaño</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <button id="btn-refresh">Refrescar</button>
        <div id="div-crear">
            <button id="btn-relacion-vendedor">Relacionar vendedor</button>
            <button id="btn-crear-bebida">Crear bebida</button>
            <button id="btn-crear-plato">Crear plato</button>
        </div>
    </footer>
</body>
<script type="module" src="itemmenu.js"></script>

</html>