<!DOCTYPE html>
<html>

<head>
    <title>Main menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendedor.css">
</head>

<body>
    <header>
        <div>
            <button class="headerbtn">Cliente</button>
            <button class="headerbtn1">Vendedor</button>
            <button class="headerbtn">ItemMenu</button>
            <button class="headerbtn">Pedidos</button>
        </div>
    </header>
    <div id="div-root">
        <div id="upperpan">
            <div id="upperpan1">
                <div class="div_upperpan_search">
                    <label>ID Vendedor</label>
                    <input>
                </div>
                <div class="div_upperpan_search">
                    <label>Nombre</label>
                    <input>
                </div>
            </div>
            <div id="upperpan2">
                <button id="btn-buscar">Buscar</button>
            </div>
        </div>

        <div id="div-center">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <button id="btn-refresh">Refrescar</button>
        <button id="btn-crear">Crear Vendedor</button>
    </footer>
</body>
<script src="vendedor.js"></script>

</html>