<!DOCTYPE html>
<html>

<head>
    <title>Main menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendedor.css">
</head>

<body>
    <header>
        <div>
            <button class="headerbtn">Cliente</button>
            <button class="headerbtn1">Vendedor</button>
            <button class="headerbtn">ItemMenu</button>
            <button class="headerbtn">Pedidos</button>
        </div>
    </header>
    <div id="div-root">
        <div id="upperpan">
            <div id="upperpan1">
                <div class="div_upperpan_search">
                    <label>ID Vendedor</label>
                    <input>
                </div>
                <div class="div_upperpan_search">
                    <label>Nombre</label>
                    <input>
                </div>
            </div>
            <div id="upperpan2">
                <button id="btn-buscar">Buscar</button>
            </div>
        </div>

        <div id="div-center">
            <div class="divinfo">
                <label class="lbinfo">ID Vendedor</label>
                <input class="inputinfo">
            </div>
            <div class="divinfo">
                <label class="lbinfo">Nombre</label>
                <input class="inputinfo">
            </div>
            <div class="divinfo">
                <label class="lbinfo">Direccion</label>
                <input class="inputinfo">
            </div>
            <div class="divinfo">
                <label class="lbinfo">Latitud</label>
                <input class="inputinfo">
            </div>
            <div class="divinfo">
                <label class="lbinfo">Longitud</label>
                <input class="inputinfo">
            </div>

            <div id="divbuttons">
                <!-- <button class="infobuttons" id="btn-buscar">Buscar</button> -->
                <button class="infobuttons" id="btn-editar">Editar</button>
                <button class="infobuttons" id="btn-eliminar">Eliminar</button>
            </div>
        </div>
        <div class="divtable">table</div>
    </div>
    <footer>
        <button id="btn-refresh">Refrescar</button>
        <button id="btn-crear">Crear Vendedor</button>
    </footer>
</body>
<script src="vendedor.js"></script>

</html>