<!DOCTYPE html>
<html>

<head>
    <title>Pedidos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pedidos.css">
</head>

<body>
    <header>
        <div>
            <button class="headerbtn" id="btn-clienteui">Cliente</button>
            <button class="headerbtn" id="btn-vendedorui">Vendedor</button>
            <button class="headerbtn" id="btn-itemmenuui">ItemMenu</button>
            <button class="headerbtn1" id="btn-pedidosui">Pedidos</button>
        </div>
    </header>
    <div id="div-root">
        <div id="upperpan">
            <div id="upperpan1">
                <div class="div_upperpan_search">
                    <label>ID Pedido</label>
                    <input id="input-buscar-id">
                </div>
            </div>
            <div id="upperpan2">
                <button id="btn-buscar">Buscar</button>
            </div>
        </div>

        <div id="div-center">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Estado</th>
                            <th>Forma de pago</th>
                            <th>Monto</th>
                            <th>Ver items</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <button id="btn-refresh">Refrescar</button>
        <button id="btn-crear">Crear Pedido</button>
    </footer>
</body>
<script type="module" src="pedidos.js"></script>

</html>