<!DOCTYPE html>
<html>

<head>
    <title>Crear plato</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="crear.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
            <div class="div_upperpan_search">
                <label>Nombre</label>
                <input id="input-nombre">
            </div>
            <div class="div_upperpan_search">
                <label>Descripcion</label>
                <input id="input-descripcion">
            </div>
            <div class="div_upperpan_search">
                <label>Precio</label>
                <input id="input-precio">
            </div>
            <div class="div_upperpan_search">
                <label>Peso</label>
                <input id="input-peso">
            </div>
            <div class="div_upperpan_search">
                <label>Apto Vegano</label>
                <input type="checkbox" id="input-apto-vegano">
            </div>
            <div class="div_upperpan_search">
                <label>Apto Celiaco</label>
                <input type="checkbox" id="input-apto-celiaco">
            </div>
            <div class="div_upperpan_search">
                <label>Calorias</label>
                <input id="input-calorias">
            </div>
            <div id="divbtns">
                <button id="btn-volver">Volver</button>
                <button id="btn-crear">Crear</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>
</body>
<script type="module" src="platocrear.js"></script>

</html>