<!DOCTYPE html>
<html>

<head>
    <title>Crear Pedido modificar items</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pcmoditems.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
            <div>
                <label>Items</label>
                <table>
                    <thead> 
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Estado</th>
                            <th>Forma de pago</th>
                            <th>Total</th>
                            <th>Ver items</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                </table>

                <label>Items en pedido</label>
                <table>
                    <thead> 
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Estado</th>
                            <th>Forma de pago</th>
                            <th>Total</th>
                            <th>Ver items</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="divbtns">
                <button id="btn-modificar-items">Modificar items</button>
                <button id="btn-volver">Volver</button>
                <button id="btn-crear">Crear</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>
</body>
<script src="pcmoditems.js"></script>

</html>