<!DOCTYPE html>
<html>

<head>
    <title>Relacionar vendedor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="relacionar.css">
</head>

<body>
    <header>
        <div>
            <button class="headerbtn" id="btn-clienteui">Cliente</button>
            <button class="headerbtn1" id="btn-vendedorui">Vendedor</button>
            <button class="headerbtn" id="btn-itemmenuui">ItemMenu</button>
            <button class="headerbtn" id="btn-pedidosui">Pedidos</button>
        </div>
    </header>
    <div id="div-root">
        <div id="div-center">
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID itemMenu</th>
                            <th>Nombre ItemMenu </th>
                            <th>ID Vendedor</th>
                            <th>Nombre Vendedor</th>
                            <th>Relacionar</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <button id="btn-volver">Volver</button>
    </footer>
</body>
<script type="module" src="relacionar.js"></script>

</html>