<!DOCTYPE html>
<html>

<head>
    <title>Modificar bebida</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modificar.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
            <div class="div_upperpan_search">
                <label>Id Bebida</label>
                <input disabled id="input-id">
            </div>
            <div class="div_upperpan_search">
                <label>Nombre</label>
                <input id="input-nombre">
            </div>
            <div class="div_upperpan_search">
                <label>Descripcion</label>
                <input id="input-descripcion">
            </div>
            <div class="div_upperpan_search">
                <label>Precio</label>
                <input id="input-precio">
            </div>
            <div class="div_upperpan_search">
                <label>Graduacion-alcoholica</label>
                <input id="input-graduacion-alcoholica">
            </div>
            <div class="div_upperpan_search">
                <label>Tamaño</label>
                <input id="input-tamanio">
            </div>
            <div id="divbtns">
                <button id="btn-volver">Volver</button>
                <button id="btn-crear">Modificar</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>
</body>
<script type="module" src="bebidamodificar.js"></script>

</html>