<!DOCTYPE html>
<html>

<head>
    <title>main menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <header>
            <h1 class="header-text">Menu</h1>
        </header>
        <div class="buttons-container">
            <button>Cliente</button>
            <button>Vendedor</button>
            <button>Pedidos</button>
            <button>Items</button>
        </div>
    </div>
</body>

</html>