<!DOCTYPE html>
<html>

<head>
    <title>Ver items pedido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pedidoveritems.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
            <div>
                <label>Items en pedido</label>
                <table>
                    <thead>
                        <tr>
                            <th>id_item_menu</th>
                            <th>nombre</th>
                            <th>descripcion</th>
                            <th>precio</th>
                            <th>categoria</th>
                            <th>peso</th>
                            <th>aptoVegano</th>
                            <th>aptoCeliaco</th>
                            <th>calorias</th>
                            <th>graduacionAlcoholica</th>
                            <th>tamaño</th>
                            <th>cantidad</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody">
                    </tbody>
                </table>
            </div>
            <div id="divbtns">
                <button id="btn-volver">Volver</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>
</body>
<script type="module" src="pedidoveritems.js"></script>

</html>