<!DOCTYPE html>
<html>

<head>
    <title>Crear Vendedor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendedorcrear.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
            <div class="div_upperpan_search">
                <label>Nombre</label>
                <input id="input-nombre">
            </div>
            <div class="div_upperpan_search">
                <label>Direccion</label>
                <input id="input-direccion">
            </div>
            <div class="div_upperpan_search">
                <label>Longitud</label>
                <input id="input-longitud">
            </div>
            <div class="div_upperpan_search">
                <label>Latitud</label>
                <input id="input-latitud">
            </div>
            <div id="divbtns">
                <button id="btn-volver">Volver</button>
                <button id="btn-crear">Crear</button>
            </div>

        </div>
    </div>
    <footer>

    </footer>
</body>
<script src="vendedorcrear.js"></script>

</html>