<!DOCTYPE html>
<html>

<head>
    <title>Crear Pedido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="setItems.css">
</head>

<body>
    <div id="div-root">
        <div id="upperpan">
        <div>
            <label>Items</label>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Peso</th>
                        <th>Apto Vegano</th>
                        <th>Apto Celiaco</th>
                        <th>Calorias</th>
                        <th>Graduacion alcoholica</th>
                        <th>Tamaño</th>
                        <th>Agregado</th>
                    </tr>
                </thead>
                <tbody id="tablebody"></tbody>
            </table>
        </div>
        <div id="divbtns">
            <button id="btn-volver">Volver</button>
        </div>

    </div>
    <footer>

    </footer>
</body>
<script type="module" src="setItems.js"></script>

</html>